<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/stylesheets/product.css">
      <title>{{ title }}</title>
      <style>
      body {
        background-image: url("images/Other/slideBg.jpg");
        background-size: cover;
      }
      </style>
  </head>
  <body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/products">Menu</a>
      <a href="/story">Our Story</a>
      <a href="/gallery">Gallery</a>
      <a href="/reviews">Reviews</a>
      <a href="/contactus">Contact</a>
      <a href="http://facebook.com/profile.php?=733"><img src="images/Home/facebook.png" width="30%" height="30%" title="Facebook" alt="linkIt"></a>
      <a href="https://www.instagram.com/ayshanfuhdi/?hl=en"><img src="images/Home/instagram.png" width="30%" height="30%" title="Instagram" alt="linkIt"></a>
    </div>
    <img id="moreIcon" src="images/Home/more.png" onclick="openNav()"></a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="display:flex;flex-direction:row;align-items:center;justify-content: center;">
      <div style="display:flex;flex-direction:column;align-items:center;justify-content: center;background: rgba(20,20,20, .3);padding:2%;margin:1%">
        <b>Monday to Thursday</b><br>
        4.30pm to 12.00am<br>
        <b>Friday & Saturday</b><br>
        4.30pm to 1.00am<br>
        <b>Sunday</b><br>
        1.30pm to 12.00am<br>
      </div>
      <div style="display:flex;flex-direction:column;align-items:center;justify-content: center;background: rgba(20,20,20, .3);padding:2%">
        <b>GMIT</b><br>
        <b>Old Dublin Rd</b><br>
        <b>Galway</b><br>
      </div>
    </div>
    <br>
    <div style="display:flex;flex-direction:column;align-items:center;justify-content: center;">
      <div class="gmap_canvas">
        <iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=GMIT&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
        </iframe>
      </div>
    </div>
    <script>
      ///////////// Sticky Nav Bar /////////////////////////////////////
      function openNav() {
        if(screen.width <= 650){
          document.getElementById("mySidenav").style.width = "40%";
        }
        else{
          document.getElementById("mySidenav").style.width = "20%";
        }
        document.getElementById("moreIcon").style.display = "none";
      }

      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("moreIcon").style.display = "block";
      }
    </script>
  </body>
</html>
