<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img src="https://s3.amazonaws.com/peoplepng/wp-content/uploads/2018/08/31174744/Bitcoin-PNG-File.png" alt="..." style="width:100%">
        <div class="img-responsive">
          <p>Bitcoin is a digital and global money system currency. It allows people to send or receive money across the internet, even to someone they don't know or don't trust. Money can be exchanged without being linked to a real identity. The mathematical field of cryptography is the basis for Bitcoin's security.</p>
        </div>
      </a>
    </div>
  </div>
</div>
