<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/stylesheets/product.css">
      <title>{{ title }}</title>
  </head>
    <body>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/products">Menu</a>
        <a href="/story">Our Story</a>
        <a href="/gallery">Gallery</a>
        <a href="/reviews">Reviews</a>
        <a href="/contactus">Contact</a>
        <a href="/booking">Book A Table</a>
        <a href="http://facebook.com/profile.php?=733"><img src="images/Home/facebook.png" width="30%" height="30%" title="Facebook" alt="linkIt"></a>
        <a href="https://www.instagram.com/ayshanfuhdi/?hl=en"><img src="images/Home/instagram.png" width="30%" height="30%" title="Instagram" alt="linkIt"></a>
      </div>
      <img id="moreIcon" src="images/Home/more.png" onclick="openNav()"></a>
      <div class="nflex-container">
        <section class="insert">
          <form action="/insert" method="post">
            <div class="input">
              <label for="name">Name</label>
              <input type="text" id="name" name="name">
            </div>
            <div class="input">
              <label for="review">Review</label>
              <input type="text" id="review" name="review">
            </div>
            <button type="submit">INSERT</button>
          </form>
        </section>
        <div id="commentscontainer">
          {{# each items }}
            <article class="item" style ="margin:10px;">
              <div>Name: {{ this.Name }}</div>
              <div>Date: {{ this.Date }}</div>
              <div>Review: {{ this.Review}}</div>
            </article>
          {{/each}}
        </div>
      </div>
      <script>
      ///////////// Sticky Nav Bar /////////////////////////////////////
      function openNav() {
        if(screen.width <= 650){
          document.getElementById("mySidenav").style.width = "40%";
        }
        else{
          document.getElementById("mySidenav").style.width = "20%";
        }
        document.getElementById("moreIcon").style.display = "none";
      }
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("moreIcon").style.display = "block";
      }
      </script>
    </body>
